.navigate-top {
  visibility: visible;
  display:block;
  padding-left: 50%;

  &__arrow {
    display: inline-block;
    padding-left: 5%;
  }

  &__text {
    display: inline-block;
    position: relative;
    top: -15px;
  }
  
  @mixin atMedium {
    visibility: hidden;
    display: none;
  }

}